/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --button-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --decor-color: #FF0070;
  --text-decor-color: #000028;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
