/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --decor-color: #353430;
  --text-decor-color: #353430;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --decor-color: #353430;
    --text-decor-color: #353430;
  }

  .header__rec,
  .decorated-zone::before,
  .decorated-zone::after {
    display: none;
  }
}
