/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  font-family: var(--main-font);
}

.main {
  margin: 40px 0 40px 0;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decor-color);
  z-index: 1;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: 20px;
  min-block-size: 100vh;
  background-image: var(--background-image);
  background-size: cover;
}

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 25px;
  color: var(--accent-color);
  top: 18px;
  right: 19px;
}

.header__rec-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.header__rec-dot {
  width: 9px;
  height: 9px;
  background: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  margin-top: 75px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent-color);
}

.header__theme-menu-button {
  font-size: 18px;
  background: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__text {
  font-weight: 700;
  font-size: 18px;
}

.header__title {
  font-size: var(--header-footer-title-size-mobile);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--background-color);
  height: fit-content;
}

.section__title {
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color);
}

.article__text {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--header-footer-title-size-mobile);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.gallery__title {
  margin-bottom: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.section {
  display: grid;
  gap: 20px;
  margin-bottom: 50px;
}

.section__title {
  grid-column: 1;
  align-self: start;
}

.section__content {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}





@media (min-width: 768px) {
  .main {
    margin: 60px 0 60px 0;
  }

  .header__title,
  .footer__title {
    font-size: var(--header-footer-title-size-tablet);
  }

  .header__text {
    justify-self: end;
    inline-size: clamp(364px, 50%, 491px);
    margin-inline-start: auto;
  }

  .header__theme-menu {
    justify-self: end;
    margin-top: 192px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 25px;
    right: 25px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    min-block-size: 600px;
  }

  .gallery__title {
    margin-bottom: 20px;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .section {
    grid-template-columns: minmax(200px, 315px) 1fr;
    gap: 30px;
  }

  .section__title {
    grid-column: 1;
  }

  .section__content {
    grid-column: 2;
  }

  .article {
    grid-column: 1 / -1;
  }
}

.footer {
  min-block-size: 100vh;
}

@media (min-width: 1024px) {
  .header__rec {
    top: 28px;
    right: 29px;
  }

  .header__theme-menu {
    margin: 0;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .section--focus-killers {
    display: grid;
    grid-template-columns: minmax(200px, 315px) 1fr 1fr 1fr;
    gap: 30px;
    align-items: start;
  }

  .section--focus-killers .section__title {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }

  .section--focus-killers .article {
    grid-row: 1;
    margin: 0;
  }

  .section--focus-killers .article:nth-child(2) {
    grid-column: 2;
  }

  .section--focus-killers .article:nth-child(3) {
    grid-column: 3;
  }

  .section--focus-killers .article:nth-child(4) {
    grid-column: 4;
  }
}
